<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security" xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http realm="Protected API" auto-config="false"
          entry-point-ref="customAuthenticationEntryPoint">
        <custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER"/>
        <intercept-url pattern="/services/account/login" method="POST" access="permitAll"/>
        <intercept-url pattern="/services/account/register" method="POST" access="permitAll"/>
        <intercept-url pattern="/services/account/logout" method="DELETE" access="permitAll"/>
        <intercept-url pattern="/services/**" access="isAuthenticated()"/>
    </http>
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="user" password="user" authorities="ROLE_USER" disabled="true"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="customAuthenticationEntryPoint"
                class="org.kbss.webdb.spring.config.CustomAuthenticationEntryPoint"/>
    <beans:bean id="authenticationFilter" class="org.kbss.webdb.filters.AuthenticationFilter"/>
</beans:beans>