<div class="content-holder i-font-montserrat i-smoothing i-clearfix">
    <div id="topnav">Top navbar</div>

    <div id="sidebar">
        <h3>Side navbar</h3>
    </div>

    <div id="content">

        <div id="top-content">Top content <p>{{content}}</p></div>

        <div id="bottom-content">Bottom content</div>

        <div id="content-resizer"
             resizer="horizontal"
             resizer-height="6"
             resizer-top="#top-content"
             resizer-bottom="#bottom-content">
        </div>

    </div>

    <div id="sidebar-resizer"
         resizer="vertical"
         resizer-width="6"
         resizer-left="#sidebar"
         resizer-right="#content"
         resizer-max="400">
    </div>
</div>