/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif
    /*position: absolute;*/
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: Arial, Helvetica, sans-serif font-size : 14 px;
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    display: block !important;
}

.animate-hide.ng-hide-add.ng-hide-add-active,
.animate-hide.ng-hide-remove {
    opacity: 1;
}

.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove.ng-hide-remove-active {
    opacity: 0;
}

.modal-background {
    /*background: rgba(10, 10, 10, 0.2);*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: hidden;
}

.background-blur-image, .background-blur {
    background-image: url('http://img3.goodfon.ru/wallpaper/big/b/c1/front-range-rocky-mountains.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.background-blur {
    /*display: block;*/
    display: block;
    z-index: 9990;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1px;
}